header {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 230px; /* Přidáváme margin-left pro posunutí záhlaví do prava */
}

.location-name {
    font-weight: bold;
    
}

/* Předchozí stylová pravidla */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    text-align: center;
    flex-grow: 1;
}

footer {
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Ostatní styly */
.location {
    text-align: center;
    margin-top: 20px;
    color: #f8f9fa;
    font-size: 24px;
}

.center-image {
    text-align: center;
    margin-top: 20px;
}

.center-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.falling-items {
    text-align: center;
    margin-top: 20px;
}

.falling-items p {
    font-size: 16px;
}

.falling-items img {
    display: inline-block;
    margin: 5px;
    max-width: 50px;
    height: auto;
}

.separator {
    border-top: 1px solid #dee2e6;
    margin-top: 20px;
}
.text-info {
    display: block;
    font-size: 1em;
    line-height: 3em;
    width: 100%;
    text-align: center;
}
.text-info .highlight {
    color: red; /* Barva pro zvýrazněný text */
    font-weight: bold;
  }
.image-with-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
.image-with-text img {
    width: 80px; /* Přizpůsobte šířku obrázku podle potřeby */
    margin-right: 10px
}
.text-info .highlights {
    color: white; /* Barva pro zvýrazněný text */
    font-weight: bold;
  }
  .jezdectvi img {
    width: 800px; /* Přizpůsobte šířku obrázku podle potřeby */
    margin-right: 10px
}
.jezdectvi {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
.peti {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .rukavice-div {
    text-align: center;
  }
  .rukavice-image {
    width: 40px;
    height: 40px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
  }
  th, td .highlights {
    color: white; /* Barva pro zvýrazněný text */
    font-weight: bold;
  }
  th, td .highlightstext {
    color: red; /* Barva pro zvýrazněný text */
    font-weight: bold;
  }
    th, td .highlightstext2 {
    color: lightskyblue; /* Barva pro zvýrazněný text */
    font-weight: bold;
  }
  th, td .highlightstext3 {
    color: lightgreen; /* Barva pro zvýrazněný text */
    font-weight: bold;
  }
  .runa-div {
    text-align: center;
  }
  
  .runa-image {
    width: 40px;
    height: 40px;
  }
  .rybarkasaman img {
    width: 90px;
    height: 90px;
  }

  .bio-table tr:nth-child(odd) td {
    background-color: rgb(28, 28, 28);
}
.bio-table td {
    padding: 3px;
    height: 52px;
    font-size: 12px;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
td {
    display: table-cell;
    vertical-align: inherit;
}
.bio-table {
    width: 100%;
    border: 1px solid #989898;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(10, 10, 10);
    font-size: 13px;
    color: #b6b6b6;
    box-shadow: 0px 0px 25px 1px rgb(0, 0, 0);
    text-shadow: 1px 1px 3px black;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.new-bonus-table td:first-child {
  font-size: 13px;
  width: 30%;
  color: #8CB78C;
}
.new-bonus-table td {
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
  letter-spacing: 0.5px;
  border-style: solid;
  border-width: 1px;
  border-color: #3a3a3a;
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}

td {
  display: table-cell;
  vertical-align: inherit;
}
.new-bonus-table {
  width: 85%;
  border: 1px solid #3a3a3a;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(10, 10, 10);
  font-size: 13px;
  font-weight: 300px;
  color: #b6b6b6;
  text-shadow: 1px 1px 3px black;
  text-align: left;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
user agent stylesheet
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
.block {
  font-family: serif;
  width: 990px;
  background: rgb(29, 29, 29);
  background-color: #191919;
  background-image: url(../images/background_page2.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  /* background: linear-gradient(90deg, rgba(35,7,5,1) 0%, rgba(56,12,8,1) 50%, rgba(35,7,5,1) 100%); */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 40px 3px rgb(0, 0, 0);
  font-size: 14px;
  padding-left: 7%;
  padding-right: 7%;
}
